.swipes-container{
    height: 100%;
    margin-top: 20px;
}
.dataMenu{
    background-color: var(--blue-text);
    width: 40%;
    text-align: center;
    border-radius: 12px 12px 0 0;
    overflow-x: hidden;
}
.dataMenu li{
    color: red;
    width: 50%;
    
}
.dataMenu .indicator{
    background-color: red;
   
}
.dataMenu .tab a{
    text-decoration: none;
    color: white;
}
.dataMenu .tab a:hover{
    color: red;
}
.dataMenu .tab a:focus, .dataMenu .tab a:focus.active{
    background-color: rgb(2, 2, 131) !important;
    color: white !important;
}

@media (max-width: 800px){
    .dataMenu{
        width: 100%;
    }
}