.mision-vision {
  padding: 15px 30px;
}
.mision-vision p,
li {
  font-size: 1.1rem;
  line-height: 30px;
  text-align: justify;
  color: #3a3a3a;
  font-weight: normal;
}
.mision-vision img {
  min-width: 225px;
  max-width: 275px;
  height: auto;
  margin-bottom: 20px;
  align-self: center;
}
