header {
  width: 100%;
}
header nav {
  background-color: #131313;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  line-height: 20px;
  border-bottom: 8px solid red;
  height: fit-content;
  padding: 10px 0;
}
.logo-container {
  width: 65%;
  padding-left: 30px;
}
.logo-container span {
  font-size: 1.2rem;
  padding-left: 15px;
}
.logo-container a {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: white;
}
.logo {
  width: fit-content;
  height: 45px;
}
.btn-menu {
  margin-top: 2px;
  width: 40px;
  height: 40px;
  border: 2px white solid;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 20px;
  position: absolute;
}
.slide-menu {
  background-color: #131313;
}
.slide-menu {
  display: flex;
  flex-direction: column;
  background-color: black;
}
.slide-menu li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.slide-menu li a i:hover {
  color: var(--dark-red2);
}
.slider-container li a {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.2rem;
  padding: 5px 32px;
  height: fit-content;
}
.slider-container .slide-menu li > a > i {
  color: white;
}
.slider-container .collapsible-header {
  padding-left: 32px;
}
.slider-container .collapsible-body {
  background-color: rgba(0, 0, 0, 0.301);
}
.slider-container .collapsible-body li > a {
  font-weight: 400;
}
.slider-container .collapsible-body li > a > i {
  margin: 0;
  font-size: 1rem;
}
.slider-container .collapsible-body a {
  font-size: 1rem;
  color: white;
}
.user-view {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 15px !important;
}
.background {
  height: 100vh;
  overflow: none;
  background-image: url("../../images/fondoSideBar.jpg");
  background-size: cover;
  opacity: 0.18;
}
.circle {
  border-radius: 0%;
  margin: 0 auto;
}
