header {
  width: 100%;
}
header nav {
  background-color: #131313;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  line-height: 20px;
  border-bottom: 8px solid red;
  height: fit-content;
  padding: 10px 0;
}
.nav-container {
  position: fixed;
}
.logo-container {
  width: 65%;
  padding-left: 30px;
}
.logo-container span {
  font-size: 1.2rem;
  padding-left: 15px;
}
.logo-container a {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: white;
}
.logo {
  width: fit-content;
  height: 45px;
}
.btn-menu {
  margin-top: 2px;
  width: 40px;
  height: 40px;
  border: 2px white solid;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 20px;
  position: absolute;
}
.slide-menu{
  background-color: #131313;
}
/*.menu {
  position: absolute;
  background-color: #131313;
  width: 100vw;
  height: 94vh;
  top: 63px;
} */
/* .open {
  right: 0 !important;
  transition-property: all;
  transition-duration: 1.3s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
} */
.slide-menu {
  display: flex;
  flex-direction: column;
}
.btn-menu li a{
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.2rem;
  border-bottom: 1px solid #424242;
  padding: 5px 32px;
  height: fit-content;
}
.btn-menu .slide-menu li>a>i{
  color: white;
}
.btn-menu .collapsible-header{
  padding-left: 32px;
  border-bottom: 1px solid #424242;
}
.btn-menu .collapsible-body{
  background-color: rgb(26, 26, 26);
}
.btn-menu .collapsible-body li>a>i{
  margin: 0;
  font-size: 1rem;
}
.btn-menu .collapsible-body a{
  font-size: 1rem;
  color: white;
}
