header{
    background-color: #131313;
    height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-bottom: 8px solid red;
}

.logo-container{
    width: 65%;
}
.logo-container span{
    font-size: 1.2rem;
    margin-left: -8px;
}
.logo-container a{
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: white;
}
.logo{
    width: 90px;
    height: 40px;
}
.menu-container{
    width: 40px;
    height: 40px;
    border: 1px white solid;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 20px;
    position: absolute;
}
.icon-white{
    color: white;
}

.mobile-menu{
    display: none;
}
.open{
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 0;
    
}
.menu{
    position: absolute;
    background-color: #131313;
    color: white;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 94vh;
    top: 35px;
}
.menu li{
    color: white;
    display: flex;
    flex-direction: row;
}
.menu i{
    margin-right: 10px;
}