.studentInfo {
  width: 100%;
  height: 100%;
  margin-top: 50px;
}
.studentInfo-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px grey solid;
  padding: 20px;
  /* background: linear-gradient(#810303, #f15954, #fadfdf); */
}
.studentInfo-header img {
  width: 200px;
}
.studentInfo-header h2 {
  font-size: 2.2rem;
  font-family: "RobotoCondensed";
  text-align: center;
}
.studentInfo-container {
  width: 100%;
  height: 100%;
  /* background: linear-gradient(0.25turn, #5c5ffa, #96a5f8, #d1c2f8); */
  /* padding: 10px; */
}
.studentInfo-container .input-field {
  padding: 0 0.85rem !important;
}
.studentInfo-container .input-field label {
    color: black;
  position: relative;
  width: 100%;
  left: 0;
  font-family: "RobotoCondensed";
}
.studentInfo-container .row {
  border-bottom: 1px rgba(128, 128, 128, 0.507) solid;
}
.studentInfo .input-field input {
  background-color: white;
  border: 1px solid red !important;
  padding-left: 10px;
  margin-top: 10px;
  box-sizing: border-box;
  /* width: 96.5%; */
}
.field-title {
  font-size: 1.6rem;
  text-align: center;
  font-family: "RobotoCondensed";
}
.phones2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.phones2 input {
  width: 40% !important;
}
.phones2 label {
  text-align: center;
  margin-bottom: 15px;
}

@media only screen and (max-width: 768px) {
  .studentInfo-header h2 {
    font-size: 2.6rem;
  }
}
@media only screen and (max-width: 1024px) {
    .studentInfo-header h2 {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 1444px) {
}
