footer{
    height: 6vh;
    background-color: #131313;
}

/* ----------------------------------------------Footer------------------------------------- */

#footer {
  padding: 20px 0;
}
#footer h2,
#footer p,
#footer ul,
#footer a {
  margin: 0;
  padding: 0;
  font-weight: normal;
  list-style: none;
  line-height: normal;
}
#footer h2 {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 10px;
  padding-bottom: 8px;
  border-bottom: 1px dotted #999999;
}
#footer li {
  margin-bottom: 5px;
}
#footer .footbox {
  display: block;
  float: left;
  width: 180px;
  margin: 0 15px 0 0;
  padding: 0 0 0 7em;
}
#footer .last {
  margin: 0;
}

/* ----------------------------------------------Copyright------------------------------------- */

#copyright {
  padding: 15px 0;
}
#copyright p {
  margin: 0;
  padding: 0;
}