.home-info {
  padding: 10px;
  margin-bottom: 10px;
}
.home-info span {
  color: black;
  font-style: normal;
}
.home-info a:hover {
  color: black !important;
}
.home-info .card{
  margin: .5rem 10px 1rem 10px;
  display: flex;
  flex-direction: column;
}
.home-info .card-content{
  height: 50%;
}
.home-info .card-image{
  height: 50%;
}
.pastoral-container,
.bienestar-container {
  margin-bottom: 15px;
}
.pastoral-text {
  color: #666666;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.title-info {
  font-size: 2rem;
  margin: 0 0 15px 0;
  padding-bottom: 8px;
  color: var(--dark-red);
  background-color: #ffffff;
  border-bottom: 1.4px dotted #999999;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
