.home-info {
  padding: 10px;
  margin-bottom: 10px;
}
.home-info span {
  color: black;
  font-style: normal;
}
/* .home-info img {
  padding: 4px;
  border: 1px solid #999999;
} */
/* .home-info p{
    color: #666666;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    font-weight: lighter;
} */
/* .home-info a{
color: var(--dark-red);
font-weight: 350;
letter-spacing: 1px;
font-size: 1rem;
text-transform: none;
border-radius: 4px;
}  */
.home-info a:hover {
  color: black !important;
}
.pastoral-container,
.bienestar-container {
  margin-bottom: 15px;
}
.pastoral-text {
  color: #666666;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.title-info {
  font-size: 2rem;
  margin: 0 0 15px 0;
  padding-bottom: 8px;
  color: var(--dark-red);
  background-color: #ffffff;
  border-bottom: 1.4px dotted #999999;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
