.imgholder{
    margin-right: 15px;
}
.lastNews-container{
    background-color: #dd6569;
}
.lastNews-container a{
    color: #9a0105;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    margin-top: 10px;
}
.lastNews-container p{
    font-size: 1.2rem;
}
.news-list li{
    display: flex;
    flex-direction: row;
}
/*
.imgholder{
    margin-right: 15px;
}
.lastNews-container{
    background-color: #dd6569;
}
.lastNews-container a{
    color: #9a0105;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    margin-top: 10px;
}
.lastNews-container p{
    font-size: 1.2rem;
}
.news-list li{
    display: flex;
    flex-direction: row;
    border-bottom: 1px dotted #999999;
}*/